---
import Social from '../components/Social.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

type SocialInfo = {
  platform: string;
  username: string;
};

const socialInfo: SocialInfo[] = [
  {
    platform: 'github',
    username: 'dung204',
  },
  {
    platform: 'facebook',
    username: 'dungho15102004',
  },
  {
    platform: 'twitter',
    username: 'dhwl_coder204',
  },
];

const pageTitle = 'Contact';
---

<BaseLayout pageTitle={pageTitle}>
  <p>You can contact me via:</p>
  <ul>
    {
      socialInfo.map(({ platform, username }) => (
        <li>
          <Social platform={platform} username={username} />
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  li:not(:first-child) {
    margin-top: 1.25rem;
  }
</style>
